services:
  tidning_monitoring:
    build: .
    container_name: tidning_monitoring
    restart: unless-stopped
    ports:
      - 3025:3000
      - 5432:5432
    env_file: .env
    volumes:
      - grafana_data:/usr/share/grafana
      - postgres_data:/var/lib/postgresql/data

volumes:
  grafana_data:
  postgres_data: